.about-paragraph {
    color: #595959;
}

.about-paragraph-part-two {
    color: #595959;
}

.resume {
    color: #595959;
}

.resume-title {
    color: black;
}

.sub-title {
    color: black;
}

.resume-paragraph {
    color:black;
}

.contact-title {
    color: black;
}

.contact-info {
    color: #595959;
}