.full-screen-banner {
    height: 100vh;
    background-image: url(../img/Group\ 45.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

.footer {
    margin-top: auto;
    background-image: url(../img/footer-white.svg);
    height: 33px;
    width: 85px;
  }


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.landing-donut-container {
  margin-left: 50%;
  margin-top: 5%;
  height:55%;
  justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .logo {
    background-image: url(../img/Rectangle\ 58.svg);
    height: 33px;
    width: 178px;
  }

  .landing-paragraph {
    color: white;
    font-size: 22px;
    font-weight: 300;
    margin-left: -5%;
    margin-top: 120px;
  }

  .the-donut-title {
    color: white;
    font-size: 42px;
    font-weight: 800;
  }

  .the-donut-landing-paragraph {
    color: white;
    font-weight: 300;
    font-size: 16px;
  }