.donut-title{
    color:black;
    font-size: 62px;
    font-weight:600;
}

.donut-paragraph {
    color:#898989;
    font-size: 16px;
    font-weight: 300;
    width:90%;
}

.donut-sub-title {
    color:#C4C4C4;
    font-size: 18px;
    font-weight:400 ;
}

.donut-order-paragraph {
    color:#595959;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}


.donut-color-toggle-container{
    display: flex;
    justify-content: space-between;
    width: 7.8%;
    margin-top: 15px;
}
.donut-color-toggle-black {
    font-size: 20px;
}

.donut-color-toggle-beige {
    font-size: 20px;
    color: #BCB0A3;
}

.order-donut-price {
color: black;
font-size: 22px;
font-weight: 600;
}

.shipping-info {
    color:#6F6F6F;
    font-size: 12px;
}

.donut-banner {
    width: 100%;
}
.donut-banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position:bottom;
}

.donut-singles img {
    width: 100%;
}

.shipping-price-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 71%;
    margin-top: 15px;
}

.donut-container-overall-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.donut-container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.donut-container-right img {
    width: 100%;
    margin-top: 60px;
}

.donut-container-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

.donut-info-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    font-size: 14px;
    justify-content: space-between;
    font-weight: 300;
    align-self: baseline;
}

/* .donut-info-container ul li {
    list-style:disc;
    color: #595959;
} */

.specifications {
    font-weight: 600;
}

.purchase {
    font-weight: 600;
}