.donut.title{
    color:black;
}

.donut-paragraph {
    color:#898989;
}

.donut-sub-title {
    color:#C4C4C4;
}

.donut-order-paragraph {
    color:#595959;
}

.order-donut-price {
color: black;
}

.shipping-info {
    color:#6F6F6F;
}